// size
$height-header-desktop: 62px;
$height-header-mobile: 42px;
$height-navbar-desktop: 52px;
$height-navbar-mobile: 42px;
$height-footer: 42px;
$main-margin: 8px;
$width-mobile: 540px;
$width-tablet: 720px;
$width-desktop: 1080px;
$width-minimal: 280px;
$opacity-header-and-footer: 0.8;

//color
$black: #272727;
$white: #f4f4f4;
$brown: #A67145;
$beige: #FFF2E7;
$turquoise: #E1F9F9;

//export css in js
:export {
  mainMargin: $main-margin;
}
