// size
$height-header-navbar-desktop: 52px;
$height-header-navbar-mobile: 42px;
$height-header-contact-desktop: 52px;
$height-header-contact-mobile: 104px;
$height-header-desktop: calc($height-header-navbar-desktop + $height-header-contact-desktop);
$height-header-mobile: calc($height-header-navbar-mobile + $height-header-contact-mobile);
$height-footer: 52px;
$width-mobile: 540px;
$width-tablet: 720px;
$width-desktop: 1080px;
$width-minimal: 280px;
$opacity-header-and-footer: 0.8;

//color
$black: #272727;
$white: #f4f4f4;
$brown: #A67145;
$beige: #FFF2E7;
$red: #6C1616;
$turquoise: #E1F9F9;

//mixin
@mixin padding-top-main {
  padding-top: $height-header-mobile;
  @media screen and (min-width: $width-mobile) {
    padding-top: $height-header-desktop;
  }
}
