.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.home-enter-active, .home-leave-active {
  transition: opacity .4s;
}
.home-enter, .home-leave-active {
  opacity: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
